aiohttp==3.7.2
async-timeout==3.0.1
attrs==20.2.0
botocore==1.19.9
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
docutils==0.16
idna==2.10
jmespath==0.10.0
multidict==5.0.0
openttd-helpers==1.0.1
pproxy==2.3.7
pynamodb==4.3.3
python-dateutil==2.8.1
sentry-sdk==0.19.1
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.25.11
yarl==1.6.2
