aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
botocore==1.19.47
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
docutils==0.16
idna==3.0
jmespath==0.10.0
multidict==5.1.0
openttd-helpers==1.0.1
pproxy==2.5.2
pynamodb==4.3.3
python-dateutil==2.8.1
sentry-sdk==0.19.5
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.2
yarl==1.6.3
