aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
botocore==1.42.80
certifi==2026.2.25
click==8.3.1
frozenlist==1.8.0
hiredis==3.3.1
idna==3.11
jmespath==1.1.0
multidict==6.7.1
openttd-helpers==2.0.0
pproxy==2.7.9
propcache==0.4.1
pynamodb==6.1.0
python-dateutil==2.9.0.post0
redis==7.4.0
sentry-sdk==2.57.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.3.0
yarl==1.23.0
